doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/app.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")

        title Todo's App!
    body
        .main-container
            .main-form
                .title-container
                    h1 To do List
                form#task-form(action="")
                    input(type="text", name="task", placeholder="Introduce una tarea" id="input-task" required) 
                    select(id="select-categories")
                        option(disabled selected required) -- Seleccione una categoria --
                        option(value="universidad") Universidad
                        option(value="trabajo") Trabajo 
                        option(value="hogar") Hogar
                    button(type="submit" id="btn-save") Guardar
                    button(type="button" id="btn-update" disabled) Actualizar
                .main-task-list

    script(src="/static/js/app.js") 


//- <input type="checkbox" name="">
//- <label for="">world </label>