doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/app.css")
        link(rel="stylesheet", href="/static/css/title.css")
        link(rel="stylesheet", href="/static/css/form.css")
        link(rel="stylesheet", href="/static/css/list.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")

        title Todo's App!
    body
        .main-container
            .main-form
                .title-container
                    .title
                        i.fas.fa-list-ol
                        h1 To do List
                    hr
                form#task-form(action="")
                    input(type="text",  class="input-task" name="task", placeholder="Introduce una tarea" id="input-task" required) 
                    select( class="select-categories" id="select-categories")
                        option(disabled selected required) -- Seleccione una categoria --
                        option(value="Universidad") Universidad
                        option(value="Trabajo") Trabajo 
                        option(value="Hogar") Hogar
                    button(type="submit" class="btn-save" id="btn-save") Guardar
                    button(type="button" class="btn-update" id="btn-update" disabled) Actualizar
                hr(class="hr-form")
                .main-task-list
            .footer
                i.fas.fa-graduation-cap
                small Universidad Tecnológica de Panamá - DSIX - 2021 
    script(src="/static/js/app.js") 


//- <input type="checkbox" name="">
//- <label for="">world </label>