
.main-form {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: rgba(242, 242, 242, .6);
    width: 55%;
    /* min-height: 80%; */
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

form {
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-task, .select-categories {
    margin: 0;
    border: none;
    border-radius: 3px;
    height: 2.4rem;
    width: 32%;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 400; */
    padding-left: 1rem;
}

.btn-save, .btn-update {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    width: 8rem;
    height: 2.4rem;
    cursor: pointer;
}

.btn-save {
    background-color: #4a2f84;
}.btn-save:hover {
    background-color: #422385;
}.btn-save:disabled {
    cursor: default;
    background-color: rgba(102, 86, 136, .3);
}

.btn-update {
    background-color: #607d8b;
}.btn-update:hover {
    background-color: #537A8C;
}
.btn-update:disabled {
    background-color: rgba(96, 125, 139, .3);
    cursor: default;
}

@media screen and (max-width: 1400px){
    .input-task, .select-categories {
        width: 25%;
    }
}


@media screen and (max-width: 980px){
    .input-task, .select-categories {
        font-size: .7rem;
        width: 20%;
        height: 2rem;
    }

    .btn-save, .btn-update {
        font-size: .7rem;
        width: 8rem;
        height: 2rem;
    }
}

@media screen and (max-width: 810px){
    .input-task, .select-categories {
        font-size: .5rem;
        width: 30%;
        height: 1.7rem;
    }

    .btn-save, .btn-update {
        font-size: .5rem;
        width: 15%;
        height: 1.7rem;
    }
}